
*{
    margin: 0;
    padding: 0;
}


body{
    color: #fff;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    font-family:  "Barlow Semi Condensed";
}

.grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "menu menu main right"
        "left footer footer right";
        grid-gap: 16px;
        padding: 5% 5%;
        font-weight: 500;
        border-radius: 20px;
        box-shadow: 2px 2px 2px black;
        background-color: rgb(218, 242, 245);
}



#header{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    padding: 14px;
    font-size: 25px;
    color: #000;
}


/*Styling the menu*/
#menu{
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    grid-area: menu;
    position: relative;
    background-color:  hsl(263, 55%, 52%);
    box-shadow: 2px 2px 2px black;
    transition-property: all;
    transition-duration: 2s;
}

 img{
    left: 5%; 
    border-radius: 100px;
    position: absolute;
    top: 23px;
    width: 30px;
}

#svg{
    width: 150px;
    left: 70%;
    top: 4px;
    opacity: 40%;
}

.img1 ~ h1{
    font-size: 13px;
    position: absolute;
    top: 23px;
    left: 20%;
    
    }



h1 + p{
    position: absolute;
    top: 40px;
    left: 20%;
    font-size: 10px;
    opacity: 0.5;
}

#p1{
    padding-top: 50px;
    font-size: 19px;
    text-align: left;
}

#p2{
    opacity: 0.5;
    padding-top: 18px;
    font-size: 16px;
}

#menu:hover{  
    transform:  scale(1.2);
}


/*Styling the main*/
#main{
    padding: 15px 15px 5px 15px;
      border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    position: relative;
    box-shadow: 2px 2px 2px black;
    grid-area: main;
    transition-property: all;
    transition-duration: 2s;
   }

    h1 + #p{
        font-size: 15px;
        position: absolute;
        top: 39px;
        left: 30%;
        font-size: 10px;
        opacity: 0.5;
    }
    
    #main:hover{  
        transform:  scale(1.2);
    }
    

/*Styling the right*/
#right{
    padding: 15px 15px 5px 15px;
       border-radius: 10px;
       position: relative;
    background-color:  hsl(0, 0%, 100%);
    box-shadow: 2px 2px 2px black;
    color: black;
    grid-area: right;
   
    transition-property: all;
    transition-duration: 2s;
}

.img2 ~ h1{
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 30%;
}

#right:hover{  
    transform:  scale(1.2);
}

/* Styling the left*/
#left{
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    position: relative;
    background-color:  hsl(0, 0%, 100%);
    box-shadow: 2px 2px 2px black;
    color: black;
    grid-area: left;
    transition-property: all;
    transition-duration: 2s;
}

#left:hover{  
    transform:  scale(1.2);
}

/* Styling the footer*/
#footer{
    padding: 15px 15px 5px 15px;
        border-radius: 10px;
        position: relative;
    background-color:  hsl(219, 29%, 14%);
    box-shadow: 2px 2px 2px black;
    grid-area: footer;
    transition-property: all;
    transition-duration: 2s;
}

#footer:hover{  
    transform:  scale(1.2);
}


@media (max-width:600px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        'menu'
        'main'
        'left'
        'footer'
        'right';

        grid-gap: 20px;
        padding: 10% 10%;

    }

    #header{
        font-size: 15px;
    }
    

    #menu{
        padding: 25px 20px 10px 20px;
    }

    #svg{
        width: 100px;
    }
    
    #main{
        padding: 25px 20px 10px 20px;
        }

    #left{
        padding: 25px 20px 10px 20px;
          }

    #footer{
        padding: 25px 20px 10px 20px;
    } 

    #right{
        padding: 25px 20px 10px 20px;
        }

    
    h1 + p{       
        left: 20%;
    }

    h1 + #p{
        left: 20%;
    }
    

    .img2 ~ h1{
        left: 20%;
    }

    .img1 ~ h1{
        left: 20%;
    }
    
}

@media (min-width:768px){
    #menu{
        padding: 15px 15px 5px 15px;
    }
    
    #main{
        padding: 15px 15px 5px 15px;
        }

    #left{
        padding: 15px 15px 5px 15px;
          }

    #footer{
        padding: 15px 15px 5px 15px;
    } 

    #right{
        padding: 15px 15px 5px 15px;
        }    
}







